services:
  postgres:
    container_name: postgres
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # сохранение данных между перезагрузками на диске
    networks:
      - ticket_for_cinema
  redis:
    container_name: redis
    image: redis:6.2
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - ticket_for_cinema

volumes:
  postgres_data:
  redis_data:

networks:
  ticket_for_cinema:
